* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test {
    height: 1000px;
}

#AcAds-main {
    display: flex;
    align-items: center;
    position: relative;
    margin: 15px;
    /* padding:1vw; */
    top: 85px;
    max-width: 100%;
    max-height: 700px;
    background-color: white;
}
#AcAds-main h4 {
    display: none;
}

.AcAd-box {
    display: flex;
    border: 1px solid #dadada;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;
    margin: 1vw ;
    height: 40vh;
    width: 15vw;
}

.AcAd-box1,
.AcAd-box2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    padding: 2vw;
    /* margin: 0.5vw;       */
}

.AcAd-box1 {
    display: grid;
    width: 40%;
    grid-template-columns: 50% 50%;
    margin-right: 1vw;
}

.AcAd-box2 {
    width: 60%;
    border: 1px solid #dadada;
    overflow: hidden;
    padding: 2vw;
}


#Ac-repair-video video {
    width: 100%;
    height: 100%;
}

.AcAd-item {
    height: 20vh;
    width: 14vw;
}

.AcAd-item img {

    width: 100%;
    height: 100%;
}

.Ac-info {
    width: 100%;

}

.Ac-info p {
    margin: 0.5vh 0;

}

.Ac-info p:nth-of-type(1) {
    font-size: 10px;
    padding: 2px;
    background-color: green;
    color: white;
    font-weight: 700;
    height: 10;
    text-align: center;
    width: 40px;

}
.Ac-info p:nth-of-type(2) {
    font-size: 1vw;
}

.Ac-info p:nth-of-type(3) {
    margin-top:1vh ;
    font-size: 0.9vw;
    font-weight: 500;
}

/* Mobile Style  */

@media (max-width:600px) {
    #AcAds-main {
        top: 0;
        margin: 2vw;
        flex-wrap: wrap;
    }
    #AcAds-main h4 {
        display: block;
        padding: 1.5vh 5vw;
    }

    .AcAd-box1 {
        margin: 2vw;
        padding: 0;
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }

    .AcAd-box1 {
        border: none;
    }
    .AcAd-box2{
        display: none;
    }


    .AcAd-box {
        margin: 1vw;
        height: 25vh;
        width: 40vw;
        padding: 2vw;
    }
    .AcAd-box:hover{
        border: 1px solid black;
    }

    .AcAd-item {
        height: 16vh;
        width: 37vw;
    }

    .Ac-info p:nth-of-type(2) {
        font-size: 3vw;

    }

    .Ac-info p:nth-of-type(3) {
        font-size: 3vw;
        font-weight: 500;

    }

}