*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#LogisticAd{
    position: relative;
    top: 85px;
    margin: 15px;
    background-color: white;
    height: 55vh;
    max-width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}
#LogisticImg{
    height:50vh;
    width: 100vw;
    margin: 0px 10px ;
}
#LogisticImg img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
@media (max-width:600px) {
    #LogisticAd{
        top: 0;
        margin:0px  8px;
        height: 20vh;
    }
    #LogisticImg{
        margin: 0px 5px ;
        height:18vh;
        width: 100vw;
    }

    
}