*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#SofaAd{
    position: relative;
    top: 85px;
    margin: 15px;
    background-color: white;
    height: 550px;
    max-width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
}
#SofaImg{
    margin: 0px 20px;
    width:100vw;
    height: 70vh;
}
#SofaImg img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */

}
@media (max-width:600px) {
    #SofaAd{
        top: 0;
        margin: 0;
        height: 250px;
    }
    #SofaImg{
        margin: 0px 0px;
        
        width:100vw;
        height: 30vh;
    }
    #SofaImg img{
        border-radius: 0;
    }


    
}