#mob-swiper {
    top: 0px;
    margin:8px;
}

@media (min-width: 600px) {
    #mob-swiper {
        display: none;
    }
    .swiper-slide img {
        border-radius: 0px;
      }      
}

@media (max-width:600px) {
    .mob-ads-img {
        border-radius: 10px;
    }
    
}